/* BASE STYLES ----------------------- */
body {
    background: #f5eee0 url(https://cdn.filestackcontent.com/npvvK9gpQcWljatpFb4Q);
    color: #6f6f6f;
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    margin: 0;
  }
  
  h1 {
    font-family: 'Bungee', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  h2 {
    color: #212a2d;
    font-family: 'Bungee', Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: 60px;
  }
  
  h3 {
    color: #8C4CF7;
    font-family: 'Bungee', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  
  h4 {
    color: #8C4CF7;
    font-family: 'Bungee', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  
  p {
    line-height: 24px;
    margin: 8px 0;
  }
  
  strong { color: #2a1c29; }
  a { color: #8C4CF7; }
  
  a.button {
    background: #8C4CF7;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .container {
    margin: auto;
    overflow: auto;
    width: 900px;
  }
  
  .small-text {
    font-size: 12px;
    line-height: 22px;
  }
  
  .content-block {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 0 0 4px 4px;
    border-top: 4px solid #eedbf7;
    margin: 40px 0;
  }
  
  /* HEADER ----------------------- */
  .header {
    background: #212a2d;
    overflow: auto;
  }
  
  .header .logo {
    float: left;
    padding: 10px 0;
  }
  
  .header .navigation {
    float: left;
    list-style: none;
    margin: 35px 0 0 -67px;
    padding: 0;
  }
  
  .header .navigation li {
    float: left;
    padding: 20px;
  }
  
  .header .navigation li a {
    color: #f5eee0;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
  }
  
  .header .navigation li a.active,
  .header .navigation li a:hover {
    border-bottom: 2px solid #8C4CF7;
  }
  
  /* HERO ----------------------- */
  .hero {
    background: #2e373c url(https://cdn.filestackcontent.com/cDankdX9TTyUqlblyNxQ)  center center no-repeat;
    color: #f5eee0;
    padding: 80px 20px 60px 20px;
  }
  
  .hero h1 {
    background: #212a2d;
    border-left: 6px solid #8C4CF7;
    border-radius: 0 4px 4px 0;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 14px 25px;
  }
  
  .hero p {
    font-size: 16px;
    line-height: 28px;
    max-width: 700px;
  }
  
  /* MAIN ----------------------- */
  .main .primary {
    float: left;
    margin-right: 5%;
    width: 60%;
  }
  
  .main .secondary {
    float: right;
    margin-top: 100px;
    width: 35%;
  }
  
  .main .planet-review {
    background: #ffffff;
    border-left: 4px solid #8C4CF7;
    border-radius: 0 4px 4px 0;
    margin: 40px 0;
    padding: 40px 28px 13px;
    position: relative;
  }
  
  .main .planet-review-inner {
    overflow: auto;
  }
  
  .main .planet-review .button {
    float: right;
  }
  
  .main .planet-review .planet-rating {
    background: #f9ecff;
    border-left: 4px solid #eedbf7;
    border-radius: 0 4px 4px 0;
    color: #8C4CF7;
    font-size: 12px;
    font-weight: bold;
    left: -4px;
    padding: 11px 14px;
    position: absolute;
    top: -20px;
  }
  
  .main .planet-review .planet-rating .planet-rating-star {
    vertical-align: bottom;
  }
  
  .main .planet-review .planet-rating .planet-rating-text {
    margin-left: 6px;
  }
  
  .main .planet-review .planet-picture {
    float: left;
    margin: 0 20px 20px 0;
  }
  
  .main .customer-name {
    border-top: 1px dashed #e0d9cf;
    color: #8C4CF7;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
    padding-top: 20px;
  }
  
  .main .customer-title {
    color: #d3a9e6;
    font-size: 10px;
    font-weight: bold;
  }
  
  .main .customer-picture {
    background: #eedbf7;
    border-radius: 50%;
    display: block;
    margin: -70px auto 20px;
    padding: 4px;
  }
  
  /* FOOTER ----------------------- */
  .archive {
    background: #212a2d;
    margin: 80px 0 0 0;
    overflow: auto;
  }
  
  .archive h1 {
    background: #ffffff;
    color: #8C4CF7;
    padding: 20px;
    text-align: center;
  }
  
  .archive .article {
    display: block;
    float: left;
    position: relative;
    width: 33.33%;
  }
  
  .archive .article:hover img {
    opacity: 1;
  }
  
  .archive .article img {
    opacity: 0.75;
    width: 100%;
  }
  
  .archive .article h2 {
    bottom: 20px;
    color: #ffffff;
    left: 20px;
    position: absolute;
    position: absolute;
    width: 60%;
    z-index: +1;
  }
  
  @media screen and (max-width: 900px) {
    .header { text-align: center; }
    .header .logo { float: none; }
  
    .header .navigation {
      float: none;
      margin: 0 0 20px 0;
    }
  
    .header .navigation li {
      float: none;
      padding: 10px;
      text-align: center;
    }
  
    .container {
      margin: 0 20px;
      width: auto;
    }
  
    .main .primary,
    .main .secondary {
      float: none;
      margin: 60px 0;
      width: 100%;
    }
  
    .archive .article {
      float: none;
      width: 100%;
    }
  }