body {
    text-align: center;
  }
  
  /* Add your styles under this line! */
  .title {
    font-size: 30px !important;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .subtitle {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .container {
    margin: 40px;
      border: 10px solid red;
      padding: 20px;
    width: 250px;
    height: 250px;
    background: #D4D4D4;
  }